<div class="container mt-2">
  <div class="page-header row">
    <div class="col">
      <h1>YouTube Search
      </h1>
    </div>
    <div *ngIf="loading" class="col">
      <div class="lds-facebook">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-search-box (loading)="setLoader($event)" (results)="updateResults($event)"></app-search-box>
    </div>
  </div>
  <div class="row mt-2" *ngIf="results && results.length > 0">
    <div class="col col-md-4" *ngFor="let result of results">
      <app-search-result [result]="result"> </app-search-result>
    </div>
  </div>
</div>